# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Compiled output
dist
tmp
out-tsc
bazel-out

# Node
node_modules
.npm
.node_repl_history
.nvm

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Dotenv file(s)
.env*

# System files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo